<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item"><%= link_to 'テンプレート一覧', user_templates_path %></li>
          <li class="breadcrumb-item active">テンプレート編集</li>
        </ol>
      </div>
      <h4 class="page-title">テンプレート編集</h4>
    </div>
  </div>
</div>
<message-template-editor :template_id="<%= @template_id %>"></message-template-editor>