<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><%= link_to 'クライアント一覧',  admin_accounts_path %></>
          <li class="breadcrumb-item"><%= @account.name %></>
          <li class="breadcrumb-item">クライアント編集</li>
        </ol>
      </div>
      <h4 class="page-title">クライアント編集</h4>
    </div>
  </div>
</div>

<admin-account-edit :account="<%= @account.to_json %>"></admin-account-edit>