<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">クライアント</li>
          <li class="breadcrumb-item active">クライアント一覧</li>
        </ol>
      </div>
      <h4 class="page-title">クライアント一覧</h4>
    </div>
  </div>
</div>
<admin-account-index></admin-account-index>
