<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><%= link_to '管理者一覧',  admin_accounts_path %></>
          <li class="breadcrumb-item active">新規管理者登録</li>
        </ol>
      </div>
      <h4 class="page-title">新規管理者登録</h4>
    </div>
  </div>
</div>

<admin-account-new></admin-account-new>