<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item active">シナリオ一覧</li>
        </ol>
      </div>
      <h4 class="page-title">シナリオ一覧</h4>
    </div>
  </div>
</div>
<scenario-index></scenario-index>