<% if resource.errors.any? %>
  <% resource.errors.full_messages.uniq.each do |message| %>
    <p class="c-alert"><i class="c-icon c-icon--alert"></i><span><%= message %></span></p>
  <% end %>
<% end %>
