  <aside class="main-sidebar sidebar-dark-secondary elevation-4 nav-fixed">
    <!-- Brand Logo -->
    <a href="#" class="brand-link bg-white elevation-4 text-center">
      <span class="brand-text font-weight-bold text-danger">LINE MONSTER</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar left-sidebar__scroll">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-home"></i><p>ホーム</p>'.html_safe,
              user_root_path,
              class: "nav-link #{controller?("user/home") ? 'active' : ''}"
            %>
          </li>
        </ul>

        <!-- Account Setting -->
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <%= link_to '<i class="nav-icon fas fa-home"></i><p>アカウント設定</p>'.html_safe,
              user_setting_index_path,
              class: "nav-link #{controller?("user/setting") ? 'active' : ''}"
            %>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>