<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item"><%= link_to 'リマインダ一覧', user_reminders_path %></li>
          <li class="breadcrumb-item active"><%= link_to '配信タイミング一覧', user_episodes_path(id: @reminder.id) %></li>
          <li class="breadcrumb-item active">新規配信タイミング登録</li>
        </ol>
      </div>
      <h4 class="page-title">新規配信タイミング登録</h4>
    </div>
  </div>
</div>
<episode-editor :reminder_id="<%= @reminder.id %>"></episode-editor>