<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">URLクリック測定</li>
          <li class="breadcrumb-item"><%= link_to 'URLクリック測定一覧', '#!' %></li>
          <li class="breadcrumb-item active">URLクリック測定登録</li>
        </ol>
      </div>
      <h4 class="page-title">URLクリック測定登録</h4>
    </div>
  </div>
</div>
<site-form></site-form>
