<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">URLクリック測定</li>
          <li class="breadcrumb-item">URLクリック測定一覧</li>
          <li class="breadcrumb-item active">URLクリック測定詳細</li>
        </ol>
      </div>
      <h4 class="page-title">URLクリック測定詳細</h4>
    </div>
  </div>
</div>
<site-detail :site_id="<%= @site_id %>"></site-detail>
