<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">アカウント設定</li>
        </ol>
      </div>
      <h4 class="page-title">アカウント設定</h4>
    </div>
  </div>
</div>

<agency-profile-edit :agency="<%= current_agency.to_json %>"></agency-profile-edit>