<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">お問い合わせの情報送信完了</h4>
  <p class="py-2">
    ご入力いただきありがとうございました！
  </p>
  <hr>
  <p class="mb-0">上部✖︎ボタンを押して終了してください</p>
</div>
