<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">お知らせ</li>
          <li class="breadcrumb-item active"><%= link_to "お知らせ一覧", admin_announcements_path %></li>
          <li class="breadcrumb-item active">create announcement</li>
        </ol>
      </div>
      <h4 class="page-title">create announcement</h4>
    </div>
  </div>
</div>
<announcement-create></announcement-create>