<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">代理店</li>
          <li class="breadcrumb-item"><%= link_to '代理店一覧',  admin_agencies_path %></li>
          <li class="breadcrumb-item"><%= @agency.id %></li>
          <li class="breadcrumb-item">代理店編集</li>
        </ol>
      </div>
      <h4 class="page-title">代理店編集</h4>
    </div>
  </div>
</div>

<agency-edit :agency="<%= @agency.to_json %>"></agency-edit>