@import "admin-lte";
@import "toastr/build/toastr";
@import "./linebot.css";
a.sort_link {
  color: #212529;
}

table,
thead,
tr,
tbody,
th,
td {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

// START: card view
.card {
  font-size: 14px !important;
  .form-control {
    font-size: 14px !important;
  }
}

.header-title {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 4px solid #17a2b8;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
}

// END: card view
// START: Pagination
.page-item .page-link {
  background-color: white;
  border-color: #d7dadc;
  color: #6e767d;
}

.page-item.active .page-link {
  background-color: white;
  border-color: #17a2b8;
  color: #17a2b8;
}

// END: Pagination
.label-require {
  background-color: rgb(235, 4, 4);
  padding: 5px 5px 4px !important;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

.error-explanation {
  font-size: 13px;
  color: rgb(235, 4, 4);
}

.search-box,
.filter-box {
  min-width: 230px;
}

// START: MAP
.map-canvas {
  height: 90vh;
}

// END: MAP
.search-item-title {
  font-weight: bold;
}

.search-button {
  min-width: 100px;
}

// Sizing
.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}

.mw-50px {
  min-width: 50px;
}

.mw-100px {
  min-width: 100px;
}

@for $i from 1 through 300 {
  $width: 0px + $i;
  .fw-#{$i} {
    width: $width;
    min-width: $width;
    max-width: $width;
  }
}

@for $i from 101 through 300 {
  $width: 0px + $i;
  .mw-#{$i} {
    min-width: $width;
  }

  .w-#{$i} {
    width: $width;
  }
}

.text-c {
  text-align: center;
  text-align: -webkit-center;
}
.wh-50 {
  width: 50px;
  height: 50px;
}

.mxw-100px {
  max-width: 100px;
}

.mxw-200px {
  max-width: 200px;
}

.mxw-300px {
  max-width: 300px;
}

.text-prewrap {
  white-space: pre-wrap;
}

.user-avatar {
  border: 3px solid #ffffff;
  width: 90px !important;
  height: 90px !important;
  background-size: cover;
  border-radius: 50%;
}

.group-icon {
  background-size: cover;
  width: 300px;
  height: 300px;
}

.banner-preview {
  background-size: cover;
  width: 311px;
  height: 157px;
}

.group-qrcode,
.event-qrcode {
  width: 150px;
  height: 150px;
}

.reward-image,
.coupon-image {
  background-size: cover;
  width: 342px;
  height: 170px;
}

.reward-image-md,
.coupon-image-md {
  background-size: cover;
  width: 171px;
  height: 85px;
}

.user-avatar_detail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

// START: Map
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */

.leaflet-oldie .marker-cluster-small {
  background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
  background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
  background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
  background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.marker-cluster.stay {
  background-color: rgba(0, 0, 0, 0.3);
}

.marker-cluster.walk {
  background-color: rgba(255, 177, 0, 0.3);
}

.marker-cluster.transport {
  background-color: rgba(42, 127, 255, 0.3);
}

// END: Map
// START: Date picker
.vdatetime-popup__header {
  background: #17a2b8 !important;
}

.vdatetime-calendar__month__day--selected > span > span,
.vdatetime-calendar__month__day--selected:hover > span > span {
  background: #17a2b8 !important;
}

.vdatetime-popup__actions__button {
  color: #17a2b8 !important;
}

.vdatetime-time-picker__item--selected {
  color: #17a2b8 !important;
}

// END: Date picker
.nav-fixed {
  position: fixed !important;
  top: 55px !important;
}

.icon-index-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
  overflow: hidden;
}

.icon-sm {
  img {
    width: 32px;
    height: 32px;
  }
}

.icon-md {
  img {
    width: 48px;
    height: 48px;
  }
}

.icon-lg {
  img {
    width: 96px;
    height: 96px;
  }
}

.status {
  color: white;
  border-radius: 5px;
  .pending {
    background-color: blue;
  }
  .processing {
    background-color: #17a2b8;
  }
  .done {
    background-color: green;
  }
  .error {
    background-color: red;
  }
}

.text-max-5lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.input-hint {
  font-size: 11px !important;
  font-style: italic;
}

.vs--searchable .vs__dropdown-toggle {
  cursor: pointer !important;
}

// css for vue-datetime
.vdatetime-popup {
  height: 480px;
}

.vdatetime-popup__actions {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

// Font size
.fs-1 {
  font-size: 2.5rem !important;
}

.fs-2 {
  font-size: 2rem !important;
}

.fs-3 {
  font-size: 1.75rem !important;
}

.fs-4 {
  font-size: 1.5rem !important;
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.fs-14px {
  font-size: 14px !important;
}

.fs-18px {
  font-size: 18px !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.flex-force-1 {
  flex: 1 1 0px;
}

.flex-force-2 {
  flex: 2 1 0px;
}

.left-sidebar__scroll {
  position: -webkit-sticky;
  position: fixed;
  width: inherit;
}

.left-sidebar__scroll::-webkit-scrollbar {
  width: 0.2em;
}

.left-sidebar__scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.left-sidebar__scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.btn-toggle {
  .switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 0px;
      bottom: 0px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    input:checked + .slider {
      background-color: #17a2b8;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #17a2b8;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}

.app-verification {
  font-family: Hiragino Kaku Gothic Pro;
  background: #e5e5e5;
  .reset-password-box,
  .verification-box {
    margin: 24px 16px !important;
    padding: 32px 16px;
    background: #ffffff;
    border-radius: 20px;
    letter-spacing: 0.76px;

    .app-name {
      font-size: 14px !important;
      font-weight: 400;
      line-height: 18px;
    }

    .content {
      margin-top: 8px !important;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.76px;
      color: rgba(0, 0, 0, 0.87);
    }

    .hint {
      margin-top: 24px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
    }

    .btn {
      margin-top: 32px;
      width: 311px;
      height: 48px;
      background: #ff9900;
      border-radius: 30px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold;
      font-size: 16px;
      line-height: 14px;
    }
  }
}

.library-bounds {
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
}

.library-box {
  padding: 0.875rem 0.5rem;
  border: 2px solid #cecece;
  background-color: #fefefe;
}

.library-text {
  line-height: 1.5;
  margin: 0;
}

.library_pre-line {
  white-space: pre-line;
}

.mr-box {
  margin: 0.5rem 0;
}

.library-bulleted_list {
  margin-left: 40px;
  span {
    background-color: #ffffff;
    color: #333333;
  }
}

.library-bulleted_header {
  margin: 0;
  span {
    background-color: #ffffff;
    color: #333333;
  }
}

.library_hr-dashed {
  border-top: 3px dashed #cecece;
  margin: 0.5rem 0;
}

@media (max-width: 740px) {
  .library-bounds {
    padding: 1rem;
  }

  .library-ol {
    padding-inline-start: 20px;
  }

  .library-bulleted_list {
    margin-left: 20px;
  }
}

.nav-sidebar .menu-open > .nav-link i.right {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
