@import "admin-lte";
@import "toastr/build/toastr";
@import "bootstrap-vue/dist/bootstrap-vue.css";
@import "./emojione/emojione.min.css";
@import "./emojione/emojionearea.min.css";
@import "./linebot.css";
@import "./common.css";
@import "./perfect-scrollbar.min.css";
@import "./register.css";
@import "./slick/slick.css";
@import "./slick/slick-theme.css";

body {
  font-family: Lucida Grande, Hiragino Kaku Gothic ProN,
    "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Meiryo, "\30E1\30A4\30EA\30AA",
    "sans-serif", Noto Color Emoji, Apple Color Emoji, Glyphicons Halflings,
    Segoe UI Emoji, Segoe UI Symbol, Noto Emoji !important;
  font-size: 14px;
}

a.sort_link {
  color: #212529;
}

table,
thead,
tr,
tbody,
th,
td {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

// START: card view
.card {
  .left-border {
    border-left: 4px solid #28a745;
  }
}

// Override default style
.content-wrapper {
  background: white !important;
}

.header-title {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 4px solid #17a2b8;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
}

// END: card view
// START: Pagination
.page-item .page-link {
  background-color: white;
  border-color: #d7dadc;
  color: #6e767d;
}

.page-item.active .page-link {
  background-color: white;
  border-color: #17a2b8;
  color: #17a2b8;
}

// END: Pagination
.label-require {
  background-color: rgb(235, 4, 4);
  padding: 5px 5px 4px !important;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

.error-explanation {
  font-size: 13px;
  color: rgb(235, 4, 4);
}

.search-box,
.filter-box {
  min-width: 230px;
}

// START: MAP
.map-canvas {
  height: 90vh;
}

// END: MAP
.search-item-title {
  font-weight: bold;
}

.search-button {
  min-width: 100px;
}

// Sizing
.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}

.mw-50px {
  min-width: 50px;
}

.mw-100px {
  min-width: 100px;
}

@for $i from 1 through 300 {
  $width: 0px + $i;
  .fw-#{$i} {
    width: $width;
    min-width: $width;
    max-width: $width;
  }
}

@for $i from 1 through 300 {
  $height: 0px + $i;
  .fh-#{$i} {
    height: $height;
    min-height: $height;
    max-height: $height;
  }
}

@for $i from 101 through 300 {
  $width: 0px + $i;
  .mw-#{$i} {
    min-width: $width;
  }

  .w-#{$i} {
    width: $width;
  }
}

.text-c {
  text-align: center;
  text-align: -webkit-center;
}
.wh-50 {
  width: 50px;
  height: 50px;
}

.mxw-100px {
  max-width: 100px;
}

.mxw-200px {
  max-width: 200px;
}

.mxw-300px {
  max-width: 300px;
}

.text-prewrap {
  white-space: pre-wrap;
}

.user-avatar {
  border: 3px solid #ffffff;
  width: 40px !important;
  height: 40px !important;
  background-size: cover;
  border-radius: 50%;
}
