@import "admin-lte";
@import "toastr/build/toastr";
@import "bootstrap-vue/dist/bootstrap-vue.css";
@import "./emojione/emojione.min.css";
@import "./emojione/emojionearea.min.css";
@import "./linebot.css";
@import "./common.css";
@import "./perfect-scrollbar.min.css";
@import "./register.css";
@import "./slick/slick.css";
@import "./slick/slick-theme.css";

* {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック",
    "游ゴシック体", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ ゴシック",
    "MS Gothic", HiraKakuProN-W3, "TakaoExゴシック", TakaoExGothic,
    "MotoyaLCedar", "Droid Sans Japanese", sans-serif;
}

// Override bootstrap
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-warning {
  border-color: #cc8521;
  background: #d18f32;
  color: #ffffff;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px;
  font-size: 12px !important;
  line-height: 1.5;
  border-radius: 3px;
}

a.sort_link {
  color: #212529;
}

table,
thead,
tr,
tbody,
th,
td {
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
}

.index {
  thead {
    border-top: 2px solid #999;
    background-color: #eee;
  }
}

.table > tbody > tr > td {
  line-height: 1.4;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}
// START: card view
.card {
  .left-border {
    border-left: 4px solid #28a745;
  }
}

.header-title {
  margin-left: 5px;
  padding-left: 15px;
  border-left: 4px solid #17a2b8;
  font-size: 1.3rem;
  line-height: 35px;
  font-weight: 600;
}

// END: card view
// START: Pagination
.page-item .page-link {
  background-color: white;
  border-color: #d7dadc;
  color: #6e767d;
}

.page-item.active .page-link {
  background-color: white;
  border-color: #17a2b8;
  color: #17a2b8;
}

// END: Pagination
.label-require {
  background-color: rgb(235, 4, 4);
  padding: 5px 5px 4px !important;
  margin-left: 5px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

.error-explanation {
  font-size: 13px;
  color: rgb(235, 4, 4);
}

.search-box,
.filter-box {
  min-width: 230px;
}

// START: MAP
.map-canvas {
  height: 90vh;
}

// END: MAP
.search-item-title {
  font-weight: bold;
}

.search-button {
  min-width: 100px;
}

// Sizing
.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px;
}

.mw-50px {
  min-width: 50px;
}

.mw-100px {
  min-width: 100px;
}

@for $i from 1 through 300 {
  $width: 0px + $i;
  .fw-#{$i} {
    width: $width;
    min-width: $width;
    max-width: $width;
  }
}

@for $i from 1 through 300 {
  $height: 0px + $i;
  .fh-#{$i} {
    height: $height;
    min-height: $height;
    max-height: $height;
  }
}

@for $i from 101 through 300 {
  $width: 0px + $i;
  .mw-#{$i} {
    min-width: $width;
  }

  .w-#{$i} {
    width: $width;
  }
}

.mw-1200 {
  max-width: 1200px;
}

.text-c {
  text-align: center;
  text-align: -webkit-center;
}
.wh-50 {
  width: 50px;
  height: 50px;
}

.mxw-100px {
  max-width: 100px;
}

.mxw-200px {
  max-width: 200px;
}

.mxw-300px {
  max-width: 300px;
}

.text-prewrap {
  white-space: pre-wrap;
}

.user-avatar {
  border: 3px solid #ffffff;
  width: 40px !important;
  height: 40px !important;
  background-size: cover;
  border-radius: 50%;
}

// START: Tags
.tag {
  border: thin solid #17a2b8;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px !important;
}
// END: Tags

.radio-group {
  display: flex;
  label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    input {
      margin-right: 4px;
    }
  }
}

.divider {
  width: 100%;
  height: 0px;
  border-top: 1px dashed rgb(158, 151, 151);
}

// Datetime picker theme
.theme-success .vdatetime-popup__header,
.theme-success .vdatetime-calendar__month__day--selected > span > span,
.theme-success .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #28a745;
}

.theme-success .vdatetime-year-picker__item--selected,
.theme-success .vdatetime-time-picker__item--selected,
.theme-success .vdatetime-popup__actions__button {
  color: #28a745;
}
