:root {
  --navigation-height: 55px;
  --channel-inbox-width: 290px;
}

.talk * {
  box-sizing: border-box;
  /* font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; */
}

.talk {
  margin: 0;
  display: flex;
}

.talk form {
  margin: 0;
}

.talk > .container {
  width: calc(100% - 50px);
  display: flex;
  height: 100%;
  /* min-width: 600px; */
  padding: 0;
  margin-left: 0 !important;
}

.talk .menu-nav {
  border-radius: 5px 0 0 5px;
  flex: 0 0 50px;
  margin: 0;
  background: #28a745;
  display: block;
}

.talk .menu-nav::-webkit-scrollbar {
  width: 0px;
}

.talk .menu-nav > .item-nav {
  width: 100%;
  height: 60px;
  display: flex;
  cursor: pointer;
  color: rgba(102, 111, 134, 0.25);
}

.talk .menu-nav > .item-nav > i {
  margin: auto;
  font-size: 26px;
}

.talk .menu-nav > .item-nav.active {
  color: #666f86;
}

.talk .text-dark {
  color: #353a40 !important;
}

.talk small,
.talk .small {
  font-size: 80%;
  font-weight: 400;
}

.talk .has-error {
  color: #ec5959;
  margin-top: 5px;
  font-size: 15px;
}

.talk .chatbox {
  width: 100%;
  height: calc(100vh - 210px);
  position: relative;
  /* min-width: 600px; */
  min-height: 300px;
  overflow: auto;
  display: none;
  border: 1px solid #ededed;
  font-size: 12px;
  box-sizing: border-box;
}

.talk .chatbox.active {
  display: flex;
  flex-direction: row;
}

.talk .chatbox * {
  user-select: none;
  box-sizing: border-box;
}

.talk .chatbox *:focus {
  outline: none;
}

.talk .chatbox > .options {
  width: 70px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

.talk .chatbox > .options ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.talk .chatbox > .options ul > li {
  width: 100%;
  height: 50px;
}

.talk .chatbox > .options .menu .conversation {
  width: 100%;
  height: 50px;
}

.talk .chatbox > .conversations {
  width: var(--channel-inbox-width);
  display: flex;
  height: 100%;
  /* flex: 1; */
  flex-direction: column;
  /* display: none; */
  max-width: 100%;
}

.talk .chatbox > .conversations .nav-element {
  width: var(--channel-inbox-width);
  border-bottom: 1px solid #ededed;
  height: var(--navigation-height);
  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
}

.talk .chatbox > .conversations .nav-element > ul {
  margin: 0;
  list-style-type: none;
  padding: 0 10px;
  display: block;
  direction: rtl;
  margin-top: 9px;
}

.talk .chatbox > .conversations .nav-element > ul > li {
  width: 10%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  box-sizing: border-box;
}

.talk .chatbox > .conversations .nav-element > ul > li > i {
  font-size: 25px;
}

.talk .chatbox > .conversations .nav-element > ul > li > button:active {
  background: #ededed;
}

.talk .chatbox > .conversations .nav-element .menu li.active > button {
  background: #666f86;
  color: white;
}

.talk .chatbox > .conversations .nav-element .menu li > button {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  background: white;
  font-size: 10px;
  border: 1px solid #666f86;
  cursor: pointer;
  padding: 0 6px;
  color: #666f86;
}

.talk .chatbox > .conversations .nav-element .menu li {
  width: calc(25% - 4px);
  padding: 2px;
}

.talk .chatbox > .conversations .nav-element .menu .search {
  width: calc(50% - 4px);
}

.talk .chatbox > .conversations .nav-element .menu .search .box {
  width: 100%;
}

.talk .chatbox > .conversations .nav-element .menu .search .box input {
  width: 100%;
  height: 30px !important;
  border: 0;
  background: transparent;
  padding: 0 10px !important;
  font-size: 12px;
  border-radius: 12px;
}

.talk .chatbox > .conversations .list-view {
  width: 100%;
  max-height: calc(100% - var(--navigation-height));
  overflow: auto;
  overflow-x: hidden;
}

.talk .chatbox > .conversations .list-view .item {
  cursor: pointer;
  padding: 8px 10px;
  display: flex;
  font-size: 12px;
  border-bottom: 1px solid #ededed;
}

.talk .chatbox > .conversations .list-view .item:hover {
  background: #f9f9f9;
}

.talk .chatbox > .conversations .list-view .item.active {
  background: #ffefef;
}

.talk .chatbox > .conversations .list-view .item.blocked {
  color: #e2e2e2 !important;
}

.talk .chatbox > .conversations .list-view .item:last-child {
  margin-bottom: 2px;
}

.talk .chatbox > .conversations .list-view .item.blocked .avatar {
  opacity: 0.3;
}

.talk .chatbox > .conversations .list-view .item .avatar {
  width: 45px;
  height: 45px;
  background: #9a9a9a;
  border-radius: 50%;
  display: inline-block;
}

.talk .chatbox > .conversations .list-view .item .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.talk .chatbox > .conversations .list-view .item .content {
  display: inline-block;
  width: calc(100% - 50px);
  padding-left: 10px;
  box-sizing: border-box;
  position: relative;
  font-size: 15px;
}

.talk .chatbox > .conversations .list-view .item .content .info {
  width: 100%;
  display: flex;
}

.talk .chatbox > .conversations .list-view .item .content .badge {
  width: 10px;
  height: 10px;
  background: #2abb2a;
  position: absolute;
  right: 0;
  bottom: 10px;
  border-radius: 100px;
}

.talk .chatbox > .conversations .list-view .item .content .info .w {
  display: inline-block;
  width: calc(100% - 90px);
  box-sizing: border-box;
  vertical-align: middle;
}

.talk .chatbox > .conversations .list-view .item .content .info .title {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.talk .chatbox > .conversations .list-view .item .content .info .online {
  color: green;
  border: 1px solid green;
  padding: 0px 6px;
  border-radius: 100px;
  vertical-align: middle;
  display: inline-block;
  font-size: 10px;
  text-align: center;
  font-weight: bold;
}

.talk
  .chatbox
  > .conversations
  .list-view
  .item.blocked
  .content
  .info
  .timestamp {
  color: #e2e2e2;
}

.talk .chatbox > .conversations .list-view .item .content .info .timestamp {
  color: #a9a9a9;
  width: 85px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

.talk
  .chatbox
  > .conversations
  .list-view
  .item.blocked
  .content
  .last-message {
  color: #e2e2e2;
}

.talk .chatbox > .conversations .list-view .item .content .last-message {
  /* margin-top: 10px; */
  text-overflow: ellipsis;
  line-height: 1.3em;
  height: 1.3em;
  overflow: hidden;
  color: #a9a9a9;
  display: inline-block;
  white-space: nowrap;
  width: calc(100% - 30px);
}

.talk .chatbox > .conversations .list-view .item .content .last-message.unread {
  font-weight: bold;
  color: black;
}

.talk .chatbox > .container {
  border-left: 1px solid #ededed;
  width: calc(100% - var(--channel-inbox-width)) !important;
  height: 100%;
  position: relative;
  display: flex;
  /* flex: 2; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.talk .chatbox > .container > .empty {
  background: #dedede;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #a2a2a2;
}

.talk .chatbox > .container > .empty > i {
  font-size: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a2a2a2;
}

.talk .chatbox > .container .nav-element {
  width: 100%;
  border-bottom: 1px solid #ededed;
  height: var(--navigation-height);
  position: relative;
  box-sizing: border-box;
}

.talk .chatbox > .container .nav-element .left {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  /* align-items: center; */
  padding: 0 10px;
  -webkit-box-align: center !important;
  align-items: center !important;
}

.talk .chatbox > .container .nav-element .left .avatar {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: transparent;
  position: relative;
}

.talk .chatbox > .container .nav-element .left .avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.talk .chatbox > .container .nav-element .left .name {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  overflow: hidden;
  max-width: 150px;
}

.talk .chatbox > .container .messages {
  width: 100%;
  flex: 1;
  height: calc(100% - var(--navigation-height));
  display: flex;
  flex-direction: column;
}

.talk .chatbox > .container .messages .content {
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 1 1 auto !important;
  background: #f8f9fa;
}

.talk .chatbox > .container .messages .box-input .emoji {
  height: 200px;
}

.talk .chatbox > .container .messages .box-input .emoji > .content {
  background: white;
  height: calc(100% - 30px);
  overflow-y: auto;
  overflow-x: hidden;
}

.talk
  .chatbox
  > .container
  .messages
  .box-input
  .emoji
  > .content
  > .emoji-tab-content {
  width: 100%;
  height: 100%;
}

.talk
  .chatbox
  > .container
  .messages
  .box-input
  .emoji
  > .content
  > .emoji-tab-content
  > .item {
  height: 110px;
  /* height: auto; */
  display: inline-flex;
  width: 118px;
  justify-content: center;
  align-items: center;
}

.talk
  .chatbox
  > .container
  .messages
  .box-input
  .emoji
  > .content
  > .emoji-tab-content
  > .item
  > img {
  width: 90%;
  height: 100%;
  object-fit: contain;
  display: inline-block;
}

.talk
  .chatbox
  > .container
  .messages
  .box-input
  .emoji
  > .content
  > .emoji-tab-content
  > .item
  > img:hover {
  width: 100%;
  height: 100%;
}

.talk .chatbox > .container .messages .box-input .tool {
  height: 30px;
  border-top: 1px solid #ededed;
  background: #f7f7f7;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  position: relative;
}

.talk .chatbox > .container .messages .box-input .tool .list-action {
  width: 50%;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  height: 100%;
  padding: 0;
}

.talk .chatbox > .container .messages .box-input .tool .list-action > li {
  display: inline-flex;
  height: 100%;
  width: 40px;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  cursor: pointer;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  font-size: 14px;
  color: #666f86 !important;
}

.talk .chatbox > .container .messages .box-input .tool .list-action > li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.talk
  .chatbox
  > .container
  .messages
  .box-input
  .tool
  .list-action
  > li
  input[type="file"] {
  width: 100%;
  left: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 100%;
}

.talk .chatbox > .container .messages .box-input .tool .list-action > li.active,
.chatbox > .container .messages .box-input .tool .list-action > li:active {
  background: #c5c5c5;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.talk .chatbox > .container .messages .box-input .tool .list-action.left {
  float: left;
  font-size: 21px;
}

.talk .chatbox > .container .messages .box-input .tool .list-action.sticker {
  width: 100%;
  /* float: left; */
  font-size: 21px;
  /* margin-left: 10px; */
}

.talk .chatbox > .container .messages .box-input .tool .list-action.right {
  float: right;
  direction: rtl;
}

.talk .chatbox > .container .messages .box-input .text {
  width: 100%;
  box-sizing: border-box;
  background: white;
}

.talk .chatbox > .container .messages .box-input .text textarea {
  width: 100%;
  resize: none;
  height: 100px;
  border: 0;
  font-size: 15px;
}

.talk .chatbox > .container .messages .chat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  font-size: 0.875rem;
  padding: 15px 15px 0 15px;
}

.talk .chatbox > .container .messages .chat:last-child {
  padding-bottom: 15px;
}

.talk .chatbox > .container .messages .chat .avatar {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  display: inline-block;
  background: #999a99;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: auto;
}

.talk .chatbox > .container .messages .chat .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.talk .chatbox > .container .messages .chat .chat-content {
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: flex-start;
  /* margin-bottom: 0.5rem; */
  font-size: 0.875rem;
  margin-left: 10px;
  max-width: calc(100% - 130px);
}

.talk .chatbox > .container .messages .chat-reverse .chat-content {
  margin-left: 0px !important;
}

.talk .chatbox > .container .messages .chat .chat-content .chat-body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  /* margin-bottom: 0.5rem; */
  font-size: 14px;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item {
  position: relative;
}

.talk
  .chatbox
  > .container
  .messages
  .chat.chat-secondary
  .chat-content
  .chat-body
  .chat-main
  .chat-item.rounded {
  background: #edeff0 !important;
  color: #50575e !important;
  border-radius: 0.5rem !important;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item.rounded {
  background: #b8ebb8 !important;
  color: #008600 !important;
  border-radius: 0.5rem !important;
}

.talk
  .chatbox
  > .container
  .messages
  .chat.chat-secondary
  .chat-content
  .chat-body
  .chat-main
  .chat-item.rounded
  a {
  color: #50575e !important;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item.rounded
  a {
  color: #00b900 !important;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-video,
.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-voice {
  height: 3.375rem;
  display: -webkit-box;
  display: flex;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-voice.percent,
.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-video.percent {
  text-align: center;
  /* background-color: #eee; */
  background-image: linear-gradient(to right, #00000021, #00000021);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  border-radius: 0.5rem !important;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-video
  .chat-item-video-control,
.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-voice
  .chat-item-voice-control {
  width: 6.25rem;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 1.5rem;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-video
  .chat-item-video-text,
.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-voice
  .chat-item-voice-text {
  width: 3.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item.baloon {
  border-radius: 1rem;
  display: inline-block;
  background: #edeff0;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item.baloon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0.75rem;
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-right-color: #edeff0;
  border-left: 0;
  border-top: 0;
  margin-left: -0.375rem;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-data {
  padding: 0.5rem 1rem;
  padding-left: 0;
  color: #495057;
  display: -webkit-box;
  display: flex;
  width: 100%;
  min-height: 3.375rem;
  -webkit-box-align: center;
  align-items: center;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-data
  .chat-item-data-main {
  line-height: 1.25;
  text-align: left;
  word-break: break-all;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-text {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  text-align: left;
  color: #495057;
  position: relative;
  word-break: break-word;
  word-wrap: break-word;
  white-space: pre-line;
  user-select: text;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main
  .chat-item
  .chat-item-data
  .chat-item-data-sub {
  width: 3.75rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
}

.talk .chatbox > .container .messages .chat .chat-content .chat-body .chat-sub {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0.375rem;
  color: #868e96;
  font-size: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.talk .chatbox > .container .messages .chat.chat-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.talk
  .chatbox
  > .container
  .messages
  .chat.chat-reverse
  .chat-content
  .chat-body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.talk
  .chatbox
  > .container
  .messages
  .chat.chat-reverse
  .chat-content
  .chat-body
  .chat-main
  .chat-item.baloon:after {
  left: auto;
  right: 0;
  border: 1rem solid transparent;
  border-left-color: #b8ebb8 !important;
  border-right: 0;
  border-top: 0;
  margin-right: -0.375rem;
}

.talk
  .chatbox
  > .container
  .messages
  .chat.chat-reverse
  .chat-content
  .chat-body
  .chat-sub {
  margin-left: 0;
  margin-right: 0.5rem;
}

.talk
  .chatbox
  > .container
  .messages
  .chat.chat-reverse
  .chat-content
  .chat-body
  .chat-main
  .chat-item.baloon {
  background: #b8ebb8 !important;
}

.talk .modal {
  /* position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000099;
    z-index: 99999;
    display: flex;
    padding: 50px;
    overflow: auto; */
}

.talk .modal::-webkit-scrollbar {
  /* width: 0px; */
}

.talk .modal .modal-dialog {
  /* margin: auto;
    position: relative; */
  /* border-radius: 4px; */
  /* max-width: 800px;
    min-width: 400px;
    display: block; */
}

.talk .modal .modal-dialog .modal-content {
  /* width: auto;
    height: auto;
    background: white;
    /* border-radius: 4px; */
  /* padding: 0; */
  /* box-shadow: none;
    border-radius: 0;
    margin: 0;  */
}

.talk .modal .modal-dialog .modal-content#videoViewer,
.talk .modal .modal-dialog .modal-content#imageViewer {
  /* background: transparent;
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 100px);
    padding: 0;
    object-fit: contain;
    border: 0; */
}

.talk .modal .modal-dialog .modal-content .modal-header {
  /* height: 52px; */
  /* background: red; */
  /* width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex; */
}

.talk .modal .modal-dialog .modal-content .modal-body {
  /* background: white;
    width: 100%;
    padding: 20px;
    font-size: 15px; */
}

.talk .quick-replies {
  display: block;
  max-height: 300px;
  overflow-y: auto;
}

.talk .quick-replies tr:hover {
  background: #ededed;
  cursor: pointer;
}

/* Clearable text inputs */
.talk .clearable {
  position: relative;
  display: flex;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
}

.talk .clearable input[type="text"] {
  padding-right: 24px;
  width: 100%;
  box-sizing: border-box;
}

.talk .clearable__clear {
  display: none;
  padding: 4px 8px 4px 0;
  font-style: normal;
  font-size: 16px;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
}

.talk .clearable input::-ms-clear {
  /* Remove IE default X */
  display: none;
}

.talk .btn {
  line-height: 1.2em;
  margin: 0 5px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 15px;
  font-size: 14px;
  align-content: space-around;
  vertical-align: middle;
}

.talk .btn:focus {
  outline: none !important;
}

.talk .btn i {
  font-size: 14px;
}

.talk .btn-sm {
  padding: 5px 10px;
}

.talk .btn-sm i {
  font-size: 12px;
}

.talk .btn-back {
  border: 0;
  background: transparent;
  width: 30px;
  font-size: 36px;
  padding: 0px;
  line-height: 0;
  text-align: center;
  font-family: monospace;
}

.talk .btn-primary {
  background: #388038;
  color: white;
  border: 0;
}

.talk .btn-default {
  color: #212529;
  background-color: #cfd4da;
  border: 0;
  margin: auto 0 auto auto;
  line-height: 1.2em;
}

.talk .btn-danger {
  background: #ca3838;
  color: white;
  border: 0;
  margin: auto 0 auto auto;
}

.talk .setting {
  background: #ffffff;
  display: none;
  width: 100%;
  padding: 40px;
  user-select: none;
  min-height: 100vh;
}

.talk .setting.active {
  display: block;
  box-sizing: border-box;
}

.talk .setting.active + body {
  overflow: hidden;
}

.talk table {
  width: 100%;
  border: none;
}

.talk table th {
  color: #495057;
  background-color: #edeff0;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: left;
  border-top: 1px solid #dee2e6;
}

.talk table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  word-break: break-word;
}

.talk .text-truncate-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.talk .text-right {
  text-align: right !important;
}

.talk .form-group {
  margin-bottom: 18px;
  display: block;
}

.talk .form-group > label {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.talk .form-group > input,
.form-group > textarea {
  width: 100% !important;
  min-height: 35px;
  display: block;
  border-radius: 4px;
  border: 1px solid #ededed;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.talk .form-group > input:focus,
.form-group > textarea:focus {
  outline: none !important;
  border: 1px solid #a0a0a0;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main.is_bot.is_bot
  .chat-item::after {
  border-left-color: #d1dcf5 !important;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main.is_bot.is_bot
  .chat-item {
  background: #d1dcf5 !important;
  border-radius: 20px;
}

.talk
  .chatbox
  > .container
  .messages
  .chat
  .chat-content
  .chat-body
  .chat-main.is_bot
  .chat-item
  .chat-item-text {
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  :root {
    --navigation-height: 55px;
    --channel-inbox-width: 100%;
  }

  .talk .chatbox > .conversations {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .talk {
    width: 100%;
  }
}

.talk .chatbox > .container .messages .chat.chat-log .chat-content {
  margin: auto;
}

@media (min-width: 992px) {
  .talk .chatbox > .container .messages .chat.chat-log .chat-content {
    max-width: 60%;
    margin: auto;
  }
}
