<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topbar-right-menu float-right mb-0">
    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button"
        aria-haspopup="false" aria-expanded="false">
        <span class="account-user-avatar">
          <img src="https://icon-library.com/images/user-icon-image/user-icon-image-18.jpg" alt="user-image" class="rounded-circle">
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
        <!-- item-->
        <div class=" dropdown-header noti-title">
          <h6 class="text-overflow m-0">Welcome !</h6>
        </div>

        <!-- item-->
        <a href="javascript:void(0);" class="dropdown-item notify-item">
          <i class="mdi mdi-account-edit mr-1"></i>
          <span>アカウント設定</span>
        </a>

        <!-- item-->
        <%= link_to destroy_admin_session_path, method: :delete, class: "dropdown-item notify-item" do %>
          <i class="mdi mdi-logout mr-1"></i>
          <span>ログアウト</span>
        <% end %>
      </div>
    </li>

  </ul>
  <div class="float-left d-sm-block d-md-none ml-3">
    <%= link_to admin_root_path, class: "logo ml-4 logo-light" do %>
      <span class="text-dark brand-text font-weight-bold">HOTEL INSIGHT CRM</span>
    <% end %>
  </div>
  <button class="button-menu-mobile open-left disable-btn">
    <i class="mdi mdi-menu"></i>
  </button>
</div>
<!-- end Topbar -->
