<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">流入経路分析</li>
          <li class="breadcrumb-item"><%= link_to '流入経路一覧', '#!' %></li>
          <li class="breadcrumb-item active">流入経路詳細</li>
        </ol>
      </div>
      <h4 class="page-title">流入経路詳細</h4>
    </div>
  </div>
</div>
<stream-route-detail :stream_route_id="<%= params[:id] %>"></stream-route-form>
