<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item"><%= link_to '友だち情報欄一覧', user_variables_path %></li>
          <li class="breadcrumb-item active">友だち情報欄登録</li>
        </ol>
      </div>
      <h4 class="page-title">友だち情報欄登録</h4>
    </div>
  </div>
</div>

<variable-editor :variable_id="<%= @variable_id %>"></variable-editor>