<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item"><%= link_to "リマインダ", user_reminders_path %></li>
          <li class="breadcrumb-item active">リマインダ編集</li>
        </ol>
      </div>
      <h4 class="page-title">リマインダ編集</h4>
    </div>
  </div>
</div>
<reminder-editor :reminder_id="<%= params[:id] %>"></reminder-editor>