<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">メッセージ</li>
          <li class="breadcrumb-item"><%= link_to '回答フォーム一覧', user_surveys_path %></li>
          <li class="breadcrumb-item active">回答フォーム詳細</li>
        </ol>
      </div>
      <h4 class="page-title">回答フォーム詳細</h4>
    </div>
  </div>
</div>