<p><%= t('devise.mailer.email_changed.greeting', {recipient: @resource.name || @resource.email}) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.message_unconfirmed') %></p>
<% else %>
  <p><%= t('devise.mailer.email_changed.message', {email: @resource.email}) %></p>
<% end %>
