
<div id="confirmDelModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header align-items-center">
        <label class="m-0">こちらのユーザーを削除してよろしいですが?</label>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        シナリオ名：<%= @user.email %>
      </div>
      <div class="modal-footer">
        <%= link_to '削除', admin_user_path(@user), class: "btn btn-danger fw-100", method: :delete %>
      </div>      
    </div>
  </div>
</div>