<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <%= link_to new_admin_user_path do %>
          <button type="button" class="btn btn-info mr-2"><i class="fa fa-plus"></i> new user </button>
        <% end %>
      </div>
      <div class="card-body"></div>
    </div>
  </div>
</div>