<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">User</li>
          <li class="breadcrumb-item active">list User</li>
        </ol>
      </div>
      <h4 class="page-title">User</h4>
    </div>
  </div>
</div>
<user-index></user-index>
