<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><%= link_to 'クライアント一覧',  agency_clients_path %></li>
          <li class="breadcrumb-item active">新規クライアント登録</li>
        </ol>
      </div>
      <h4 class="page-title">新規クライアント登録</h4>
    </div>
  </div>
</div>

<client-edit :client="<%= @client.to_json %>"></client-edit>